<ion-modal-view class="guide">
  <ion-header-bar>
    <button class="button button-clear" ng-click="$root.hideModal('guide')"><i
      class="icon ion-ios-close-empty"></i></button>
    <h1 class="title">문화유산보물찾기 소개</h1>
  </ion-header-bar>
  <ion-content>
    <p>- <b>문화유산보물찾기</b>는 지속적인 업데이트를 통해 국가 및 지방자치단체가 지정한 문화재와 보존가치가 있다고 판단하는 모든
      문화유산을 발굴하고 등록할 예정입니다.</p>

    <p>- <b>문화유산보물찾기</b>는 자랑스러운 우리문화유산을 아끼고 사랑하는 마음으로 적극적인 방문을 권장하고 그곳에 나만의 기록을
      남기는 미션놀이이자 학습프로그램입니다.</p>

    <div>- <b>문화유산보물찾기</b>를 통해 문화유산을 방문하신 다음의 사용자께 매월 소정의 상품권을 보내 드립니다.
      <ul>
        <li>문화유산을 가장 많이 방문하신 사용자</li>
        <li>문화유산을 방문하여 가장 아름다운 사연을 남기신 사용자</li>
        <li>퀴즈풀기를 포함해 가장 많은 포인트를 획득하신 사용자</li>
      </ul>
    </div>
    <br>

    <p>
      제작 : 보물찾기여행 [070-7536-4403]
      proteus3757@gmail.com
    </p>


  </ion-content>
</ion-modal-view>
