<ion-modal-view class="guide">
  <ion-content scroll="false">
    <ion-slide-box>
      <ion-slide>
        <div class="box blue"><h1>BLUE</h1></div>
      </ion-slide>
      <ion-slide>
        <div class="box yellow"><h1>YELLOW</h1></div>
      </ion-slide>
      <ion-slide>
        <div class="box pink"><h1>PINK</h1></div>
      </ion-slide>
    </ion-slide-box>
    <div class="padding">
      <button ng-click="$root.hideModal('guide')" class="button button-positive button-block">시작하기</button>
    </div>
  </ion-content>
</ion-modal-view>
