<ion-modal-view class="login-view" ng-controller="LoginController">
  <div class="content-wrap">
    <h1>문화유산 보물찾기</h1>

    <button class="button button-clear btn-close-modal" ng-click="hideLoginModal()">
      <i class="icon ion-ios-close-empty"></i>
    </button>

    <form class="login-form" ng-submit="login()">

      <input type="text" placeholder="아이디" ng-model="loginParams.username"
             required>


      <input type="password" placeholder="비밀번호"
             ng-model="loginParams.password" required>

      <button class="btn-login">
        로그인
      </button>
    </form>
  </div>

  <button class="btn-signup" ng-click="showSignupModal()">회원가입
  </button>


</ion-modal-view>
