<ion-side-menus>
  <!-- Left menu -->
  <ion-side-menu side="left">
    <div class="bar bar-header bar-clear">
      <div class="title">{{ $root.user.username }}</div>
    </div>
    <ion-content class="has-header" scroll="false">
      <div class="list">
        <div class="item item-divider">마이페이지</div>
        <div class="item">
          <div class="row">
            <div class="col text-center">
              <div class="user-info-item">
                <icon height="28" padding="4"
                      src="img/icon/ic_point.png"></icon>
                내 포인트: {{ $root.user.currentPoints }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <div class="user-info-item"
                   ng-click="openExploredTreasuresModal()">
                <icon height="28" padding="4"
                      src="img/icon/sidemenu-explored.png"></icon>
                {{ $root.user.totalExplored }}
                <br/>찾은 보물
              </div>
            </div>
            <div class="col text-center">
              <div class="user-info-item" ng-click="openLikedTreasuresModal()">
                <icon height="28" padding="4"
                      src="img/icon/sidemenu-heart.png"></icon>
                {{ $root.user.totalLiked }}
                <br/>찜한 보물
              </div>
            </div>
            <div class="col text-center">
              <div class="user-info-item" ng-click="openSolvedQuizzesModal()">
                <icon height="28" padding="4"
                      src="img/icon/ic_quiz.png"></icon>
                {{ $root.user.totalSolved }}
                <br/>맞춘 퀴즈
              </div>
            </div>
          </div>
        </div>
        <div class="item item-divider">
          설정
        </div>
        <div class="item has-chevron-right">
          <icon height="20" src="img/icon/icon-notice.png"></icon>
          공지사항
        </div>
        <div class="item has-chevron-right" ng-click="$root.showGuideModal()">
          <icon height="20" src="img/icon/icon-info.png"></icon>
          문화유산보물찾기 소개
        </div>
        <div class="item item-divider"></div>
        <!--<div class="item">-->
        <!--<icon height="20" src="img/icon/icon-version.png"></icon> 앱 버전 정보-->
        <!--</div>-->
        <div class="item text-center" ng-click="$root.logout()"
             ng-show="$root.user">
          로그아웃
        </div>
        <div class="item text-center" ng-click="$root.showLoginModal()"
             ng-hide="$root.user">
          로그인
        </div>
      </div>
    </ion-content>

  </ion-side-menu>
  <ion-side-menu-content>
    <!-- Main content, usually <ion-nav-view> -->


    <div class="bar bar-header bar-stable has-icon transparent main-header">
      <icon height="32" padding="4" src="img/icon/ic_user.png"
            ng-click="toggleLeft();"></icon>
      <span class="flex"></span>
      <icon height="32" padding="4" src="img/icon/ic_search.png"
            ng-click="enterSearchMode()"
            ng-hide="searchMode"></icon>
    </div>

    <div class="bar bar-header item-input-inset search-box bar-clear"
         ng-class="{'search-mode': searchMode}">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <ion-spinner icon="dots"
                     ng-show="searchDefer || searchPromise"></ion-spinner>
        <input type="search" placeholder="문화유산 검색"
               ng-model="searchParams.keyword">
      </label>
      <button class="button button-clear"
              ng-click="leaveSearchMode()">
        <i class="icon ion-ios-close-empty"></i>
      </button>
    </div>
    <div class="list search-history"
         ng-show="searchMode && !searchParams.keyword && searchHistory.length > 0">
      <div class="item item-divider">최근 검색 기록</div>
      <div class="item" ng-repeat="history in searchHistory"
           ng-click="searchParams.keyword = history">{{ history }}
      </div>
    </div>

    <div id="map" data-tap-disabled="true"></div>

    <div class="bottom-bar" ng-show="selectedTreasure"
         ng-click="showTreasureDetailModal()">
      <div class="title">{{ selectedTreasure.name }}</div>
      <div class="info">
        <ion-spinner icon="lines"
                     ng-show="lock['/treasures/' + selectedTreasure.id] && !selectedTreasure.type"></ion-spinner>
        <span
          class="treasure-type">{{ selectedTreasure.type.split(' ')[0] }}</span>
        <!--난이도: {{ selectedTreasure.difficulty }}-->
        <!--&nbsp;&nbsp;-->
        <icon height="18" src="img/icon/ic_found_o.png"></icon>
        {{ selectedTreasure.totalExplored }}
        &nbsp;&nbsp;
        <icon height="18" src="img/icon/ic_marker_selected_default.png"></icon>
        {{ distanceToSelectedTreasure }}
        <!--<icon height="18" src="img/icon/ic_heart_blue.png"></icon>-->
        <!--{{ selectedTreasure.totalLiked }}-->
      </div>

      <div class="right-button-wrap"
      >
        <!--ng-show="selectedTreasure && currentPositionMarker"-->
        <div class="icon-found-wrap" ng-show="selectedTreasure.explored">
          <icon src="img/icon/ic_found.png" height="40"></icon>
        </div>
        <div
          ng-click="startExplore(); $event.stopPropagation()"
          ng-hide="selectedTreasure.explored || (exploringTreasure && (exploringTreasure.id === selectedTreasure.id))">
          <i class="icon ion-android-compass"></i><br>
          <button class="button button-small button-clear button-explore">
            찾기
          </button>
        </div>
        <div
          ng-show="!selectedTreasure.explored && (exploringTreasure && (exploringTreasure.id === selectedTreasure.id))">
          <div class="direction-indicator-wrap">
            <i class="direction-indicator icon ion-navigate"
               style="transition: transform .3s linear; transform: rotate({{ -45 + angleToSelectedTreasure }}deg);"></i>

            <div class="distance">{{ distanceToSelectedTreasure }}</div>
          </div>
          <button
            class="button button-small button-clear button-explore button-explore-cancel"
            ng-click="stopExplore(); $event.stopPropagation()">
            찾기취소
          </button>


        </div>
      </div>

    </div>

    <div class="btn-my-location" ng-show="currentPositionMarker"
         ng-click="toCurrentLocation()">
      <i class="icon ion-android-locate"></i>
    </div>

    <snackbar
      ng-class="{ show: !searchMode && currentZoomLevel < MIN_ZOOM_LEVEL_FOR_MARKER }"
      message="'지도를 확대해주세요'"
    ></snackbar>

    <button class="button btn-toggle-treasure-list"
            ng-class="{'expand' : treasureListExpanded}"
            ng-show="locationTreasureMap[selectedTreasure.locationString].length > 1"
            ng-click="toggleTreasureListExpand()"><i
      class="icon ion-navicon"></i>
    </button>
    <div class="selected-treasure-list"
         ng-class="{'expand' : treasureListExpanded}">
      <div class="list">
        <ion-item
          ng-class="{selected:treasure.id === selectedTreasure.id}"
          ng-repeat="treasure in locationTreasureMap[selectedTreasure.locationString]"
          ng-click="treasure.id === selectedTreasure.id || selectTreasure(treasure);">
          <h2>{{ treasure.name }}</h2>

          <p class="info">
        <span
          class="treasure-type">{{ treasure.type.split(' ')[0] }}</span>
            &nbsp;&nbsp;
            <icon height="18" src="img/icon/ic_found_o.png"></icon>
            {{ treasure.totalExplored }}
            &nbsp;&nbsp;
            <icon height="18" src="img/icon/ic_heart_blue.png"></icon>
            {{ treasure.totalLiked }}
          </p>
        </ion-item>
      </div>
    </div>

  </ion-side-menu-content>
</ion-side-menus>


<!--<div class="start-page" ng-class="{started: started}">-->
<!--<img src="img/start-page/border.png" alt="" class="border"-->
<!--ng-click="startApp()">-->
<!--<button class="btn-start"-->
<!--ng-click="startApp()">시작하기</button>-->
<!--</div>-->
