.modal-comment {
  ion-content {
    background-color: #F1F2F2;
    .list {
      .item {
        margin: 8px;
        border: none;
        background-color: #FDFDFD;

        .comment-info {
          margin-bottom: 8px;
          .commented-time {
            float: right;
          }
        }

        .image {
          height: 128px;
          background-size: cover;
          background-position: center center;
        }

        .item-content {
          padding: 16px;
        }
      }
    }
  }

  .input-comment-image {
    display: none;
  }

  .label-comment-image {
    display: block;
    width: 36px;
    line-height: 88px;
    text-align: center;
    position: fixed;
    font-size: 24px;
    border-radius: 4px;
    left: 6px;
    bottom: 4px;
    z-index: 10;

  }

  .comment-image {
    width: 128px;
    height: 128px;
    position: fixed;
    left: 8px;
    bottom: 48px;
    border-radius: 4px;
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    //transition: width .5s linear, height .5s linear, right .5s linear, bottom .5s linear;

    &.full {
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 0;
      background-size: contain;
      z-index: 1000;
    }

    .btn-close {
      float: right;
      width: 24px;
      line-height: 24px;
      text-align: center;
      color: #ccc;
      padding: 0;
      background: none;
      border: none;
      font-size: 18px;
    }
  }

  .imageUploadProgress {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 8px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    & > div {
      height: 8px;
      background-color: red;
    }
  }

  .full-image {
    position: fixed;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    border-radius: 0;
    background-size: contain;
    z-index: 1000;
  }

  .bar-footer {
    padding-left: 48px;
    box-shadow: 0 0 2px #ccc;
  }

  .select-tab {
    position: fixed;
    top: 42px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 1001;
  }

  .story-controls {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: right;
    .btn-write-story {
      font-size: 20px;
      line-height: 48px;
      width: 48px;
      color: white;
      margin: 16px;
      padding: 0;
      text-align: center;
      background-color: #e61958;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      box-shadow: 0 2px 3px #888;

      &:active {
        background-color: #d60948;
      }
    }
  }

  .comment-form {
    height: 88px;

    .item-input-wrapper {
      height: 80px;
    }

    textarea {
      background: none !important;
      resize: none;
      width :100%;
      height: 100%;
    }
  }

  .has-footer {
    bottom: 88px;
  }
}
