@import "../vars/_colors.scss";

.bottom-bar {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: white;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  padding: 12px 18px 12px;
  box-shadow: 0 -2px 2px #ccc;

  .title {
    font-size: 1.5em;
    margin-bottom: 4px;
    line-height: 32px;
  }

  .treasure-type {
    color: white;
    background-color: $positive;
    display: inline-block;
    border-radius: 10px;
    line-height: 20px;
    padding: 0 10px;
  }

  .right-button-wrap {
    position: absolute;
    right: 0;
    top: 0;
    width: 64px;
    height: 64px;
    text-align: center;
    padding: 16px 0 8px;
    color: #888;

    .icon {
      display: block;
      font-size: 32px;
      transform: rotate(-45deg);
      color: $assertive;
    }
  }

  .info {
    ion-spinner {
      vertical-align: middle;
      svg {
        width: 16px;
        height: 16px;
        stroke: $assertive;
      }
    }
  }
}
