.search-box {
  position: fixed;
  top: -50px;
  left: 0;
  width: 100%;
  transition: top .1s ease;
  &.search-mode {
    top: 0;
  }
  ion-spinner {
    position: absolute;
    right: 50px;
    top: 12px;
    svg {
      width: 20px;
      height: 20px;
    }
  }

  label {
    background-color: white;
  }

  button {
    color: #888 !important;
  }
}

.platform-ios {
  .search-box {
    top: -80px;


    &.search-mode {
      top: 0;
    }
  }
}
