$lightgray: #A5A3A4;
$beige: #DACBAE;
$green: #3D5C52;
$blue: #5B8ECC;
$darkgray: #504E48;
$red: #A2363A;
$yellow: #EFB764;
$orange: #D97831;
$brown: #5C4742;
$white: #E0DFDE;


$positive: #334294;
$assertive: #e61958;
$background: #FDFDFD;
