<ion-modal-view class="write-story">
  <ion-header-bar>
    <button class="button button-clear"
            ng-click="$root.hideModal('editRequest')"><i
      class="icon ion-ios-close-empty"></i></button>
    <h1 class="title">수정 요청</h1>
    <button class="button button-clear"
            ng-click="submitEditRequest()">
      <i class="icon ion-ios-compose-outline"></i>
    </button>
  </ion-header-bar>
  <ion-content
    scroll="false">
    <div class="list">
      <label class="item item-input">
        <input
          ng-model="editRequestParams.title"
          type="text" placeholder="제목">
      </label>
      <label class="item item-input item-body">
        <textarea
          ng-model="editRequestParams.body"
          placeholder="운영진에게 이 보물에 대한 불편사항과 관리의 문제점 등을 남겨 주세요."></textarea>
      </label>
    </div>

  </ion-content>
</ion-modal-view>
