<ion-modal-view ng-controller="TreasureDetailController"
                class="modal-treasure-detail">
  <ion-header-bar>
    <button class="button button-clear" ng-click="hideModal()"><i
      class="icon ion-ios-close-empty"></i></button>
    <!--<h1 class="title">상세 정보</h1>-->

    <div class="headerbar-right-buttons">
      <span>
        <icon height="16" src="img/icon/ic_waterdrop.png"></icon> 3
      </span>
      &nbsp;&nbsp;
      <span>
        <icon height="16" src="img/icon/ic_star.png"></icon> 0
      </span>
      <button class="button-clear" ng-click="lock['/treasures/' + treasure.id + '/like'] || likeToggle()">
        <icon height="24" src="img/icon/ic_heart.png" ng-show="!treasure.liked"></icon><icon height="24" src="img/icon/ic_heart_full.png" ng-hide="!treasure.liked"></icon> 찜하기
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="padding has-footer">
    <h3>
      {{ treasure.name }}
    </h3>

    <table class="treasure-info">
      <tr>
        <th>유형</th>
        <td>{{ treasure.type }}</td>
      </tr>
      <tr>
        <th>시대</th>
        <td>{{ treasure.era }}</td>
      </tr>
      <tr>
        <th>소재지</th>
        <td>{{ treasure.address }}</td>
      </tr>
    </table>
    <img ng-src="{{ treasure.imageUrl }}" alt="" ng-if="treasure.imageUrl"/>

    <div class="label">상세 설명</div>
    <div class="description-wrap">
      <pre>{{ treasure.description }}</pre>
      <!--<div class="btn-show-more">더 보기</div>-->
    </div>


  </ion-content>
  <div class="tabs tabs-icon-top treasure-detail-menu">
    <a class="tab-item" ng-click="showQuizModal()">
      <i class="icon">
        <div class="image"
             style="background-image:url('img/icon/ic_quiz.png');"></div>
      </i>
      퀴즈 풀기
    </a>

    <a class="tab-item button-found" ng-class="{ explored: treasure.explored }"
       ng-hide="treasure.explored"
      ng-click="showExploreModal()"
      >
      <div class="button-found-background"></div>
      <div>
        <i class="icon">
          <div class="image"
               style="background-image:url('img/icon/ic_check.png');"></div>
        </i>
        찾기인증
      </div>
    </a>

    <a class="tab-item"
       ng-show="treasure.explored"
       ng-click="showEvaluateModal()">
      <div>
        <i class="icon">
          <div class="image"
               style="background-image:url('img/icon/ic_star.png');"></div>
        </i>
        평점매기기
      </div>
    </a>

    <a class="tab-item"
       ng-show="treasure.explored"
       ng-click="showEditRequestModal()">
      <div>
        <i class="icon">
          <div class="image"
               style="background-image:url('img/icon/ic_edit_request.png');"></div>
        </i>
        수정요청
      </div>
    </a>

    <a class="tab-item" ng-click="showCommentModal()">
      <i class="icon">
        <div class="image"
             style="background-image:url('img/icon/ic_comment.png');"></div>
      </i>
      방문기록
    </a>
  </div>
</ion-modal-view>
